# dependencies
/node_modules

# testing
/coverage
/src/commitInfo.json
/example-files/*.opossum
/example-files/*_attributions.json
/example-files/*_follow_up.csv
/example-files/*_component_list.csv
/example-files/*.spdx.yaml
/example-files/*.spdx.json
/example-files/performance_tests/*.opossum
/example-files/performance_tests/*_attributions.json
/example-files/performance_tests/*_follow_up.csv
/example-files/performance_tests/*_component_list.csv
/src/e2e-tests/artifacts
playwright-report
/test-output
/bin

# production
/build

# release
/dist-electron
/release
opossum-ui.spdx.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*
.yarn/cache
.yarn/install-state.gz

.idea
/opossumUI.iml
/notices

/.vscode
/.run

.env
