{
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "classProperties",
    "decorators-legacy",
    "typescript",
    "jsx"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-sh"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false
}
