# SPDX-FileCopyrightText: Facebook, Inc. and its affiliates
# SPDX-FileCopyrightText: TNG Technology Consulting GmbH <https://www.tngtech.com>
#
# SPDX-License-Identifier: Apache-2.0

name: Build and Test

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            SHIP: ship-linux
            E2E: export DISPLAY=:99 && Xvfb $DISPLAY -screen 0 1920x1080x24 & yarn test:e2e
          - os: macos-latest
            SHIP: ship-mac
            E2E: yarn test:e2e
          - os: windows-latest
            SHIP: ship-win
            E2E: yarn test:e2e

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 17
      - name: Increase watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
        if: matrix.os == 'ubuntu-latest'

      - run: yarn install --network-timeout 560000
      - run: yarn lint-check
      - run: yarn compile-all
      - run: yarn test:unit
      - run: yarn test:integration-ci
      - name: Run end2end tests
        run: ${{ matrix.E2E }}
      - run: yarn ${{ matrix.SHIP }}
