# SPDX-FileCopyrightText: Meta Platforms, Inc. and its affiliates
# SPDX-FileCopyrightText: TNG Technology Consulting GmbH <https://www.tngtech.com>
#
# SPDX-License-Identifier: Apache-2.0

name: Release

on:
  release:
    types: [published]

jobs:
  publish_artifact:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            SHIP: ship-linux
            FILE: release/linux/OpossumUI-for-linux.AppImage
          - os: macos-latest
            SHIP: ship-mac
            FILE: release/mac/OpossumUI.app
          - os: windows-latest
            SHIP: ship-win
            FILE: release/win/OpossumUI-for-win.exe

    steps:
      - name: Check out git repository
        uses: actions/checkout@v3

      - name: Install Node.js and yarn
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Use cached node modules (linux, mac)
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
        if: matrix.os != 'windows-latest'

      - name: Use cached node modules (win)
        uses: actions/cache@v3
        with:
          path: '**\node_modules'
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**\yarn.lock') }}
        if: matrix.os == 'windows-latest'

      - run: yarn install --frozen-lockfile --prefer-offline --network-timeout 560000

      - run: yarn ${{ matrix.SHIP }}
      - name: Upload release asset
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.FILE }}
      - name: Upload user guide
        uses: softprops/action-gh-release@v1
        with:
          files: USER_GUIDE.md